@media screen and (min-width: 800px) {
 body{background-color: white;}
 #navBigMenu{
  display: block;
 }
 #burgermenu{
  display: none;
 }
 section {
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
 }
}

@media screen and (max-width: 799px) {

 body{background-color: white;}
 #navBigMenu{
  display: none;
 }
 #burgermenu{
  display: block;
 }
}
