@media screen and (min-width: 800px) {
 body{background-color: white;}
 #navBigMenu{
  display: block;
 }
 #burgermenu{
  display: none;
 }
}

@media screen and (max-width: 799px) {

 body{background-color: white;}
 #navBigMenu{
  display: none;
 }
 #burgermenu{
  display: block;
 }
}
